<div class="period__container">
  <form [formGroup]="rangeForm" (ngSubmit)="onSubmit()">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Periodo da viagem </mat-panel-title>

        <mat-panel-description>
          Informe o periodo de ida e volta de sua viagem
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Ida e volta</mat-label>

        <mat-date-range-input [formGroup]="rangeForm" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Ida" />
          <input matEndDate formControlName="end" placeholder="volta" />
        </mat-date-range-input>

        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <ng-container
          *ngIf="rangeForm.controls.start.hasError('matStartDateInvalid')"
        >
          <mat-error>Invalid start date</mat-error>
        </ng-container>

        <ng-container
          *ngIf="rangeForm.controls.end.hasError('matEndDateInvalid')"
        >
          <mat-error>Invalid end date</mat-error>
        </ng-container>
      </mat-form-field>
    </mat-expansion-panel>

    <app-stepper-button
      [hasBackButton]="true"
      [isDisabled]="rangeForm.invalid"
    />
  </form>
</div>

<!-- <p>Selected range: {{ range.value | json }}</p> -->
