<form [formGroup]="destinyForm" (ngSubmit)="onSubmit()">
  <mat-radio-group formControlName="option" class="destiny__radio-group">
    <mat-radio-button *ngFor="let option of options" [value]="option">
      {{ option }}
    </mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <mat-label>Informe o destino da viagem</mat-label>
    <mat-select formControlName="destiny">
      <mat-option *ngFor="let destiny of destinies" [value]="destiny.label">
        {{ destiny.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-stepper-button
    [hasBackButton]="true"
    [isDisabled]="destinyForm.invalid"
  />
</form>
