<app-folder></app-folder>

<div class="panel__container">
  <mat-stepper [linear]="false" #stepper>
    <mat-step label="Quem irá viajar">
      <app-persona />
    </mat-step>

    <mat-step label="Qual destino da viagem">
      <app-destiny />
    </mat-step>

    <mat-step label="Qual o período da viagem">
      <app-period />
    </mat-step>

    <mat-step label="Resultado da simulação">
      <app-simulation-data />
    </mat-step>
  </mat-stepper>

  <app-card-data [data]="(simulationData$ | async)!" />
</div>
