<mat-card>
  <mat-card-content>
    <main class="result__container">
      <section class="result__container-description">
        <span class="result__container-description-title">
          Compare e escolha o melhor plano
        </span>

        <td>Assistência médica</td>
        <td>Despesa de farmacia</td>
        <td>Seguro bagagem</td>

        <span class="result__container-description-title">Servicos</span>

        <td>Localização de bagagem</td>
        <td>Perda de documentos</td>
        <td>Concierge</td>
      </section>

      <section
        class="result__container-section"
        *ngFor="let data of data?.plus"
      >
        <th class="result__container-section--thead">
          <mat-radio-button [color]="'primary'">
            Seguro viagem {{ travelPlaceText }} plus
          </mat-radio-button>
          <br />
          {{ data?.value }}
        </th>

        <td>{{ data?.assMedica }}</td>
        <td>{{ data?.despesaFarmacia }}</td>
        <td>{{ data?.seguro }}</td>

        <br />

        <td>{{ data?.localizacaoBagagem | includeLabel }}</td>
        <td>{{ data.perdaDocumento | includeLabel }}</td>
        <td>{{ data.concierge | includeLabel }}</td>
      </section>

      <section
        class="result__container-section"
        *ngFor="let data of data?.default"
      >
        <th class="result__container-section--thead">
          <mat-radio-button [color]="'primary'">
            Seguro viagem {{ travelPlaceText }}
          </mat-radio-button>

          <br />
          
          {{ data?.value }}
        </th>
        <td>{{ data?.assMedica }}</td>
        <td>{{ data?.despesaFarmacia }}</td>
        <td>{{ data?.seguro }}</td>

        <br />

        <td>{{ data?.localizacaoBagagem | includeLabel }}</td>
        <td>{{ data?.perdaDocumento | includeLabel }}</td>
        <td>{{ data?.concierge | includeLabel }}</td>
      </section>
    </main>
  </mat-card-content>
</mat-card>
